### Imports

In [1]:
import numpy as np
import pandas as pd
from Bio import SeqIO

### Load Data

In [2]:
df_meta = pd.read_csv('data/train_small-db.meta',delimiter='\t')

In [3]:
df_meta

,sequence.id,genome.id,taxid.strain,taxid.species,taxid.genus
0,Cupriavidus_necator_N-1,NC_015723,1042878,106590,106589
1,Cupriavidus_necator_N-1,NC_015724,1042878,106590,106589
2,Cupriavidus_necator_N-1,NC_015726,1042878,106590,106589
3,Cupriavidus_necator_N-1,NC_015727,1042878,106590,106589
4,Rhodospirillum_rubrum_ATCC_11170,NC_007641,269796,1085,1081
...,...,...,...,...,...
1559,Burkholderia_cenocepacia_J2315,NC_011002,216591,95486,32008
1560,Burkholderia_cenocepacia_J2315,NC_011003,216591,95486,32008
1561,Burkholderia_cenocepacia_MC0-3,NC_010508,406425,95486,32008
1562,Burkholderia_cenocepacia_MC0-3,NC_010512,406425,95486,32008
1563,Burkholderia_cenocepacia_MC0-3,NC_010515,406425,95486,32008

In [16]:
print('Number of sequence ids:',len(df_meta['sequence.id'].unique()))
print('Number of genome ids:',len(df_meta['genome.id'].unique()))
print('Number of taxid strains:',len(df_meta['taxid.strain'].unique()))
print('Number of taxid species:',len(df_meta['taxid.species'].unique()))
print('Number of taxid genus:',len(df_meta['taxid.genus'].unique()))

Number of sequence ids: 872
Number of genome ids: 1564
Number of taxid strains: 872
Number of taxid species: 193
Number of taxid genus: 76

In [24]:
# # number of sequences per species
# df_meta['taxid.species'].value_counts().to_csv('data/species_counts.csv')

In [26]:
# df_meta[df_meta['taxid.species'] == 106590]

,sequence.id,genome.id,taxid.strain,taxid.species,taxid.genus
0,Cupriavidus_necator_N-1,NC_015723,1042878,106590,106589
1,Cupriavidus_necator_N-1,NC_015724,1042878,106590,106589
2,Cupriavidus_necator_N-1,NC_015726,1042878,106590,106589
3,Cupriavidus_necator_N-1,NC_015727,1042878,106590,106589

In [27]:
# df_meta['taxid.species'].to_csv('data/species_list.csv')

76

In [9]:
df_taxid = pd.read_csv('data/train_small-db.species-level.taxid',header = None)

In [10]:
df_taxid

           0
0     106590
1     106590
2     106590
3     106590
4       1085
...      ...
1559   95486
1560   95486
1561   95486
1562   95486
1563   95486

[1564 rows x 1 columns]

In [11]:
filename='/Users/ryanqnelson/Downloads/large-scale-metagenomics-1.0/data/train-dataset/train_small-db.fasta'
# count = 0
# for each in SeqIO.parse(filename, "fasta"):
#     count +=1
# count

In [12]:
# lengths = []
# for i,seq_record in enumerate(SeqIO.parse(filename, "fasta")):
# #     if i == 0:
# #         print(seq_record.id)
# #         print(repr(seq_record.seq))
#         lengths.append(len(seq_record))

In [13]:
# print(sorted(lengths))

In [14]:
# max(lengths)

In [15]:
# filename='/Users/ryanqnelson/Downloads/large-scale-metagenomics-1.0/data/test-dataset/test_db.fasta'
# count = 0
# for each in SeqIO.parse(filename, "fasta"):
#     count +=1
# count